.button {
  padding: 1.5%;
  background-color: #f8df1f;
  border-radius: 7px;
  width: 18%;
  min-width: 150px;
}
.logo {
  height: 35%;
  width: 35%;
  padding: 0 0 2% 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #080801;
}
nav {
  background-color: #f8df1f;
  padding: 4%;
}
.current-page {
  color: #ee252f;
}
nav ul li {
  display: inline;
  padding: 2.25%;
  font-size: .9rem;
}
.banner {
  background-image: url(../img/banner-bg-dark.png);
  padding: 7%;
  text-align: center;
}
.banner img {
  height: 35%;
  width: 35%;
  padding: 0 0 2% 0;
}
button {
  padding: 1.5%;
  background-color: #f8df1f;
  border-radius: 7px;
  width: 18%;
  min-width: 150px;
}
.red-text {
  color: #ee252f;
  display: inline-block;
}
.middle-section {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}
.middle-left {
  max-width: 70%;
}
.middle-section h2 {
  font-size: 1.5rem;
}
.middle-section p {
  font-size: .75rem;
  padding-bottom: 2%;
}
.middle-section img {
  width: 15%;
  height: 15%;
  padding-left: 5%;
  max-height: 100px;
  max-width: 100px;
}
.bottom-section {
  background-color: #f3f3f3;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom-right {
  width: 70%;
}
.bottom-section h2 {
  font-size: 1.5rem;
}
.bottom-section p {
  font-size: .75rem;
  padding-bottom: 2%;
}
.bottom-section img {
  height: 15%;
  width: 15%;
  padding-right: 5%;
}
.yellow-bar {
  height: 8px;
  width: 100%;
  background-color: #f8df1f;
}
footer {
  text-align: center;
  padding-top: 3%;
  background-color: #080801;
}
footer img {
  height: 35%;
  width: 35%;
  padding: 0 0 2% 0;
}
